

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
/* 모바일에서의 출력을위한 설정값*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 아래값을 설정하지 않는다면 모바일에서 보았을경우 메인에서의 각각 iteme들이 붙어서 출력됩니다.*/
.portfolio-item {
  margin-bottom: 30px;
}


/*제목텍스트를 제주고딕으로 설정*/
h1,h2,h3{
  font-family: 'Jeju Gothic';
}

/* 본문 텍스트들을 나눔고딕으로 설정*/
h4,h5,h6,p,a,small{
  font-family: 'Nanum Gothic';
  letter-spacing: -0.05em;
}

.navbar-brand{
  font-family: 'Jeju Gothic';
}

/* 카드뷰 헤더를 제주고딕으로 수정*/
.card-header{
  font-family: 'Jeju Gothic';
}


/*로고부분을 위한 영문폰트 적용*/
.navbar-dark .navbar-brand{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
}


